/* LAYOUT GENERALE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#macro-wrapper {
    height: calc(100vh - 90px);
}

#macro-wrapper::after {
    content: "";
    display: table;
    clear: both;
}

aside {
    width: 200px;
    height: 100%;
    float: left;
    background-color: red;
}

#micro-wrapper {
    width: calc(100% - 200px);
    height: 100%;
    float: left;
    background-color: green;
}

header {
    height: 50px;
    background-color: pink;
}

main {
    height: calc(100% - 50px);
    overflow-y: auto;
}

footer {
    width: 100%;
    height: 90px;
    background-color: yellow;
}
