/* LAYOUT GENERALE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
}

aside {
    width: 60px;
    height: 100%;
    float: left;
}

header {
    height: 50px;
    width: 100%;
}

main {
    height: calc(100% - 50px);
    width: 100%;
    overflow-y: auto;
}

footer {
    width: 100%;
    height: 90px;
    background-color: yellow;
}

#macro-wrapper {
    height: calc(100vh - 90px);
}

#micro-wrapper {
    width: calc(100% - 60px);
    height: 100%;
    float: left;
}

.container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}


/*** clearfix ***/
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/** selettori per il responsive mobile-first **/
.md-layout-inline-block,
.md-layout-block,
.lg-layout-inline-block {
    display: none;
}

/** selettori per lo stile "colore" **/
.color-white {
    color: white;
}

.color-white-opacity {
    color: rgb(179, 179, 179);
}

.bk-color-black {
    background-color: black
}

.bk-color-black-opacity{
    background-color: #121212;
}

.bk-color-blackdark-opacity {
    background-color: #282828;
}

a {
    color: inherit;
    text-decoration: none;
}

/** selettore per i button di default della pagina **/
.btn-default {
    width: auto;
    height: 18px;
    box-sizing: content-box;
    font-size: 18px;
    padding: 7px 7px 7px 7px;
    border: 0;
    border-radius: 50px;
    margin-right: 10px;
}

.btn-default i {
    width: 18px;
    height: 18px;
}

/* SELETTORI ASIDE */
aside .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#logo {
    margin-top: 20px;
    margin-bottom: 35px;
    padding-left: 12px;
    cursor: pointer;
}

#logo img {
    width: 80%;
    height: auto;
    cursor: pointer;
}

.aside-list-style {
    margin-bottom: 40px;
}

.aside-list-style li {
    font-size: 25px;
    list-style: none;
    line-height: 30px;
    padding: 8px 12px;
    border-radius: 15px;
}

#aside-top a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#aside-top i,
#aside-bottom i {
   width: 30px;
   height: 30px;
   text-align: center;
}

.aside-list-style li span {
    font-size: 14px;
    padding-left: 15px;
    font-weight: 500;
}

#playlist h5 {
    padding: 0 0 10px 12px;
    font-weight: 100;
    text-transform: uppercase;
}

aside a:hover {
    color: white;
}

#aside-bottom {
    padding-bottom: 15px;
    padding-left: 12px;
    font-size: 15px;
    font-weight: 500;
}

#aside-bottom i {
    padding: 5px;
    border: 2px solid rgb(179, 179, 179);
    border-radius: 100%;
    margin-right: 12px;
}

/** selettori header **/
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-right button {
    margin-right: 0;
}

#header-left button:nth-child(1):hover,
#header-right button:hover {
    background-color: #282828;
    cursor: pointer;
}

/* PROGETTAZIONE MOBILE FIRST */
/** media query per il responsive **/
@media screen and (min-width: 768px) {
    aside {
        width: 250px;
    }

    #micro-wrapper {
        width: calc(100% - 250px)
    }

    .md-display-none {
        display: none;
    }

    .md-layout-inline-block {
        display: inline-block;
    }

    .md-layout-block {
        display: block;
    }
}

@media screen and (min-width: 1200px) {
    .lg-layout-inline-block {
        display: inline-block;
    }
}
