* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#macro-wrapper::after {
    content: "";
    display: table;
    clear: both;
}

#micro-wrapper {
    float: left;
    width: calc(100% - 200px);
    height: 750px;
    background-color: blue;
}

aside {
    float: left;
    width: 200px;
    height: 750px;
    background-color: yellow;
}

header {
    height: 50px;
    background-color: green;
}

main {
    overflow: auto;
}


footer {
    height: calc(100vh - 750px);
    width: 100%;
    background-color: red;
}
